<header class="list fs-16 fw-500">
    Employee List
</header>
<ng-container *ngIf="!employees() || (employees() && employees().length === 0)">
    <main class="no-content">
        <img [src]="'/assets/icons/no-employee-records.svg'" alt="">
    </main>
</ng-container>
<ng-container *ngIf=" employees() && employees().length > 0">
    <main >
        <header class="employee-section-heading">Current Employees</header>
        <section class="with-content">
            <div class="employee-card" *ngFor="let each of employees();index as index">
                <div class="fw-500 title">
                    {{each.name}}
                </div>
                <div class="fw-400 sub-title">
                    {{each.role}}
                </div>
                <div class="fw-400 sub-title">
                    From {{each.joinedAt | date : 'dd MMM, YYYY'}}
                </div>
            </div>
        </section>
    </main>
</ng-container>
<footer>
    <button (click)="$event.stopPropagation();addEmployee()">+</button>
</footer>