<header class="list fs-16 fw-500">
    {{employeeId() ? 'Edit' : 'Add'}} Employee Details
</header>

<main class="employee-form" [formGroup]="employeeFG">
    <div class="position-relative field">
        <input type="text" id="name" formControlName="name">
        <label for="name">
            <img [src]="'/assets/icons/user-icon.svg'"/>
        </label>
    </div>
    <div class="position-relative field" (click)="$event.stopPropagation(); openActionSheet()">
        
        <input type="text" id="name"  readonly formControlName="role">
        <label for="name">
            <img [src]="'/assets/icons/brief-case.svg'"/>
        </label>
    </div>
    <div class="d-flex gap-2">
        <div class="position-relative field">
            <input matInput [matDatepicker]="startDatePicker"
            (click)="openDatePicker(startDatePicker)"
            formControlName="joinedAt" id="joinedAt" />
            <label for="joinedAt">
                <img [src]="'/assets/icons/calendar-icon.svg'" />
            </label>
            <mat-datepicker #startDatePicker
            [startView]="startViewOfStartDate"
            [startAt]="startAt"
            [calendarHeaderComponent]="customHeaderForStart"
            >
                <mat-datepicker-actions>
                    <div class="d-flex gap-1">
                        <div class="icon-calendar">
                            <img [src]="'/assets/icons/brief-case.svg'"/>
                        </div>
                        <div class="value-holder">{{employeeFG.get('joinedAt')?.value | date}}</div>
                    </div>
                    <div class="d-flex gap-1">
                        <button
                        matDatepickerCancel
                        class="employee-btn transparent-primary">Cancel</button>
                        <button
                        matDatepickerApply
                        class="employee-btn filled-primary"
                        >Save</button>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
        </div>
        <img [src]="'/assets/icons/right-arrow.svg'" class="right-arrow"alt="">
        <div class="position-relative field">
            <input matInput [matDatepicker]="endDatePicker"
            [min]="employeeFG.get('joinedAt')?.value"
            (click)="openDatePicker(endDatePicker)"
            formControlName="leftAt" id="leftAt" />
            <label for="leftAt">
                <img [src]="'/assets/icons/calendar-icon.svg'" />
            </label>
            <mat-datepicker #endDatePicker
            [startView]="startViewOfStartDate"
            [startAt]="employeeFG.get('joinedAt')?.value ?? startAt"
            [calendarHeaderComponent]="customHeaderForStart"
            >
                <mat-datepicker-actions>
                    <div class="d-flex gap-1">
                        <div class="icon-calendar">
                            <img [src]="'/assets/icons/brief-case.svg'"/>
                        </div>
                        <div class="value-holder">{{employeeFG.get('leftAt')?.value | date}}</div>
                    </div>
                    <div class="d-flex gap-1">
                        <button
                        matDatepickerCancel
                        class="employee-btn transparent-primary">Cancel</button>
                        <button
                        matDatepickerApply
                        class="employee-btn filled-primary"
                        >Save</button>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
        </div>
    </div>

</main>

<footer>
    <button class="employee-btn transparent-primary" (click)="cancelHandler($event)">Cancel</button>
    <button class="employee-btn filled-primary" 
    [disabled]="employeeFG.invalid"
    (click)="saveDateHandler($event)" >Save</button>
</footer>

<ion-action-sheet trigger="open-action-sheet" 
class="roles-menu"
[isOpen]="isActionSheetOpen"
(ionActionSheetWillDismiss)="actionSheetDismissHandler($event)"
[buttons]="employeeRoles"></ion-action-sheet>