<div class="custom-header">
    <button class="employee-btn transparent-primary flexible-width" (click)="buttonSelectHandler($event,'today')">
        Today
    </button>
    <button class="employee-btn filled-primary flexible-width" (click)="buttonSelectHandler($event,'next-monday')">
        Next Monday
    </button>
    <button class="employee-btn transparent-primary flexible-width"
        (click)="buttonSelectHandler($event,'next-tuesday')">
        Next Tuesday
    </button>
    <button class="employee-btn transparent-primary flexible-width"
        (click)="buttonSelectHandler($event,'after-one-week')">
        After 1 week
    </button>
</div>